body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}




nav {
  background-color: #000;
  position: sticky;
  top: 0;
  max-width: 980px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
}

nav a {

  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.2em;
}

nav a:hover {
  background-color: #333;
}




.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
  float: left;
  margin: 0 25px 20px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex article {
  flex: 2;
  margin-right: 25px;
}

.flex aside {
  flex: 1;
}

.photos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;

}

.photos li img {
  display: inline-block;
  max-width: 150px;

}

@media (max-width:600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .flex {
    flex-direction: column;
  }
}